In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
from sklearn import datasets
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
SalesTrain = pd.read_csv('sales_train/sales_train_v2.csv')
SalesDF = pd.DataFrame(SalesTrain)
SalesDF.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [16]:
Test = pd.read_csv('test/test.csv')
TestDF = pd.DataFrame(Test)
TestDF.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [17]:
SampleSubmission = pd.read_csv('sample_submission/sample_submission.csv')
SampleSubmissionDF = pd.DataFrame(SampleSubmission)
SampleSubmissionDF.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [18]:
Shops = pd.read_csv('shops.csv')
ShopsDF = pd.DataFrame(Shops)
ShopsDF.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [19]:
Items = pd.read_csv('item_categories.csv')
ItemsDF = pd.DataFrame(Items)
ItemsDF.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [20]:
ItemCategories = pd.read_csv('item_categories.csv')
ItemCategoriesDF = pd.DataFrame(ItemCategories)
ItemCategoriesDF.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [50]:
x = SalesTrain.iloc[:,1:-1].values
y = SalesTrain.iloc[:,5].values
x[:5]

array([[    0.  ,    59.  , 22154.  ,   999.  ],
       [    0.  ,    25.  ,  2552.  ,   899.  ],
       [    0.  ,    25.  ,  2552.  ,   899.  ],
       [    0.  ,    25.  ,  2554.  ,  1709.05],
       [    0.  ,    25.  ,  2555.  ,  1099.  ]])

In [51]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=10)

In [52]:
regrassion = LinearRegression()
regrassion.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
y_predictions = regrassion.predict(x_test)

In [54]:
y_predictions[:5]

array([1.24574736, 1.15754574, 1.29015445, 1.22440458, 1.24035639])

In [60]:
r2_score = r2_score(y_test, y_predictions)
print("R2 score is : ",r2_score)

R2 score is :  0.000275028919340059

In [61]:
rmse = mean_squared_error(y_test, y_predictions)
print("Root mean squared error is : ",rmse)

Root mean squared error is :  11.754762291632417